.container {
      display:flex;
gap: 20px;
justify-content:center;
padding: 5px 2px 10px 2px;
}
.b{/*recomanded services*/
    display:flex;
    flex-direction: row;
    gap:16px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.b img {/*recomendes services image*/
    width: 192.5px;
    margin-left: 0px;

    border-radius: 5px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}
.cards1 {
    display: flex;
    flex-direction: row;
    width: 192.5px;
       background: #fff;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
}
.cards1 img{
    width: 180px;
    height: 150px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    text-align: center;
    margin: 18px;
}
/* .a{ most popular specialties
    display:flex;
    flex-direction: row;
    gap:16px;
    justify-content: space-between;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}
.a img { most popular specialties image
width:50px;
height:50px;
border-radius: 5px;
object-fit: cover;
display: flex;
flex-direction: row;
} */
   /* .card1 {box
    display: flex;
    flex-direction: row;
      background: #fff;
      border-radius: 8px;
      height: 500px;
      width: 250px;
        padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    } */
.w {/*first box*/
    display: grid;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-left: -9.5px;
}
.w img {/*cardiology*/
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}   
.h{
    display: grid;
    display: flex;
    text-align: space-between;
}
.h img {/*neurology*/
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}
  .i{
    display: grid;
    display: flex;
    text-align: space-between;
  } 
.i img {/*oncology*/
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
} 
.l{
    display: grid;
    display: flex;
    text-align: space-between;
} 
.l img {/*orthopedics*/
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: fill;
}
.cards {/*box*/
      background: #fff;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .price{
        color: green;
    }
    .container1 {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 110px;
        margin-left: 450px;
        text-align: center;
        width: 650px;
        height: 80px;
        border-radius: 10px;
    }
    .navbar{
        margin-top: -50px;
    }
h2{
    margin-bottom: 20px;
    color: #111;
}
.card-container {
    display:flex;
    flex-direction: row;
gap: 18px;
padding: 10px;
}
.card{
    background: #fff;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    width: 900px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.card img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.price{
    color:green;
        font-weight: bold;
}
.location{
    margin-top: 12px;
    font-size: 12px;
}
.location img{
width:20px;
height:20px;
}
.bgi{
    background-image:url("bgi.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 300px;
    margin-left: -10px;
    margin-top: -20px;
}